<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chọn Lớp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<!-- Navbar -->
<div class="py-1 px-4 bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Admin Dashboard</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/giaovien}">Quản lý giáo viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/dang-ky-hoc/chonhv}">Đăng kí học</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container mt-4">
    <h2 class="mb-5 text-center">Đăng ký học cho học viên</h2>
    <h5 class="my-2">Danh sách lớp có thể đăng ký</h5>

    <!-- Form chọn lớp -->
    <form method="post" th:action="@{/xacnhandkhoc}" class="my-4">
        <input type="hidden" name="hocVienId" th:value="${hv.thanhVienId}"/>

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th>Tên lớp</th>
                <th>Mô tả</th>
                <th>Mức độ</th>
                <th>Chương trình</th>
                <th>Chọn</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lop : ${listLop}">
                <td th:text="${lop.ten}">Tên lớp</td>
                <td th:text="${lop.mota}">Mô tả</td>
                <td th:text="${lop.mucDo.ten}">Mức độ</td>
                <td th:text="${lop.mucDo.chuongTrinhHoc.ten}">Chương trình</td>
                <td>
                    <input type="checkbox" name="lopIds" th:value="${lop.id}" class="checkbox-custom"/>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="mt-4 d-flex justify-content-between">
            <a class="btn btn-secondary" href="/admin/dang-ky-hoc/chonhv">Quay lại</a>
            <button type="submit" class="btn btn-primary">Xác Nhận</button>
        </div>
    </form>
</div>
</body>
</html>
